/*  Para modificar las imagenes*/
#img-r3 {
    width: 300px;
    aspect-ratio: 16/9;
    margin: 0 auto;
}

/* Estilos para la sección */
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Estilos para las columnas */
.columna {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Estilos para las imágenes */
.columna img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Estilos para los títulos */
.columna h4 {
    padding: 5%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para los párrafos */
.columna p {
    text-align: justify;
    color: black;
    font-size: 1rem;
    margin-bottom: 20px;
}